html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea { color: #39444A; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a { text-decoration:none; }
a, a:active, a:visited { color: #990000; }
a:hover {  }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background:rgba(0,0,0,.2); text-shadow: none; }
::selection { background:rgba(0,0,0,.2); text-shadow: none; } 
a:link { -webkit-tap-highlight-color: rgba(0,0,0,.2); } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Primary Styles
   Author: Scott Cormier
*/
body {
	background:url(http://static.tumblr.com/0vhitxf/F4mlfpjf8/bg.png) repeat 0 0 transparent;
	font:300 1em/1.5 proxima-nova-1,proxima-nova-2,Helvetica,Arial,sans-serif;
	padding:15px 0 0;
}
h1 {
	font-family: proxima-nova-1,proxima-nova-2,Helvetica,Arial,sans-serif;
	font-size: 197%;
	font-weight: 300;
}
h2 {
	font-family: proxima-nova-1,proxima-nova-2,Helvetica,Arial,sans-serif;
	font-size: 153.9%;
	font-weight: 300;
	line-height: 1;
	margin: 0 45px 5px 0;
}
h4 {
	font-family: proxima-nova-1,proxima-nova-2,Helvetica,Arial,sans-serif;
	font-size: 100%;
	line-height: 1;
	margin: 0 0 10px;
}
p {
	font-size: 108%;
	margin: 0 0 10px;
}
  p.intro {
    display: none;
    text-align: center;
  }
  p.summary {
    text-align: center;
  }
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
  ul.styled {
    list-style: disc;
    padding-left: 15px;
  }
  ol.styled {
    list-style: decimal;
    margin-left: 1.4em;
  }
a.secondary {
  color: #ccc;
  display: block;
  font-weight: bold;
  text-align: center;
}
  a.secondary:hover {
    color: #990000;
  }
input,
textarea {
  -webkit-appearance: none;
  background: rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  box-sizing: border-box;
  height: 50px;
  margin: 5px 0 10px;
  padding: 1%;
  width:100%;
}
textarea {
  height: 100px;
}
input.button {
  -webkit-appearance: none;
  border-radius: 4px;
  background: rgb(57, 68, 74);
  color: #fff;
  font-size: 140%;
  font-weight: 600;
}

#masthead {
	margin: 10px auto 25px;
    max-width: 960px;
    padding: 0 40px;
}
#masthead h1 {
	font-size: 197%;
	height: 55px;
	line-height: 100%;
	margin: 0 auto 15px;
	max-width: 960px;
  text-align: center;
}
#masthead h1 a {
	color: #990000;
	text-decoration: none;
}
#masthead .title {
	font-size: 197%;
	position: absolute;
	visibility: hidden;
	whitespace: nowrap;
}
	nav,
	nav ul {
		float: left;
		font-size: 108%;
		margin: 0 0 25px;
		width: 100%;	
	}
	nav {
		font-family: proxima-nova-1,proxima-nova-2,Helvetica,Arial,sans-serif;
		font-size: 108%;
		border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
		margin: 0 0 25px;
	}
	nav ul {
		margin: 0;
	}
	nav li {
		float: left;
		text-align: center;
		text-transform: uppercase;
		width: 33.3%;
	}
  nav li:first-child {
    text-align: left;
  	width: 33.3%;
	}
	nav li:last-child {
		text-align: right;
		width: 33.3%;
	}
	nav li a {
		display: block;
		padding: 5px 10px;
	}
  nav li a:hover {
    background: rgba(0,0,0,0.05);
  }
	nav li a:hover,
  nav li.active a {
		border-bottom: 2px solid transparent;
		text-decoration: none;
	}
  nav li.active a {
    border-bottom: 2px solid #990000;
  }

#container {
	margin: 0 auto 20px;
	max-width: 960px;
	padding: 0 40px;
}
	#main {
		float: left;
		margin: 0 0 40px;
    width: 100%;
	}
		#main .wrapper {
      width: 100%;
    }
			#main article {
        background: rgba(255, 255, 255, 0.4);
        float: left;
        height: 400px;
        margin: 0 0 40px;
        max-height: 400px;
        position: relative;
        width: 100%;
			}
      #main article.past,
      #main article.past.cv {
        height: 0;
        margin: 0;
        visibility: hidden;
      }
      #main article.contact {
        background: none;
        height: auto;
        padding-bottom: 15px;
      }
      #main article.cv {
        background: transparent;
        height: auto;
        margin-bottom: 25px;
        margin-top: 10px;
        max-height: none;
      }
        #main article .contact-info {
          float: left;
          text-align: center;
          width: 48%;
        }
        #main article .contact-info + div {
          float: right;
          text-align: center;
          width: 48%;
        }
        #main article.cv section {
          margin-bottom: 25px;
        }
          #main article h2 {
            margin: 0;
          }
          #main article.cv h2{
           border-bottom: 1px solid rgba(0,0,0,0.1);
           margin-bottom: 15px;
          }
          #main .images {
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 4px 0 0 4px;
            -moz-box-shadow: 0 0 4px rgba(255,255,255,1) inset;
            -webkit-box-shadow: 0 0 4px rgba(255,255,255,1) inset;
            box-shadow: 0 0 4px rgba(255,255,255,1) inset;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
            height: 100%;
            position: relative;
            width: 60%;
          }
            #main .slides:after {
              clear: both;
              content: '.';
              display: block;
              height: 0;
              line-height: 0;
              visibility: hidden;
            }
              #main .slides > li {
                display: none;
                position: relative;
              }
              #main .img {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                float: left;
                height: 85%;
                padding: 4%;
        			  width: 100%;
        			}
        			  #main .img img {
        			    -moz-box-shadow:0 5px 10px rgba(0,0,0,0.3);
          				-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.3);
          				box-shadow:0 5px 10px rgba(0,0,0,0.3);
          				cursor: pointer;
          				display: block;
          				margin: 0 auto;
          				max-height: 300px;
          				max-width: 100%;
          				width: auto;
          			}
        			  #main .img img:hover {
          				-moz-box-shadow:0 5px 10px rgba(0,0,0,0.4);
          				-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.4);
          				box-shadow:0 5px 10px rgba(0,0,0,0.4);
          			}
                #main .img .no-boxshadow,
                #main .img .no-boxshadow:hover {
                  -moz-box-shadow:none;
                  -webkit-box-shadow:none;
                  box-shadow:none;
                }
            #main .nav {
              border-top: 1px solid rgba(0, 0, 0, 0.2);
              bottom: 0;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              float: left;
              height: 50px;
              margin: 0;
              padding: 2% 4%;
              position: absolute;
              width: 100%;
            }
              #main .flex-control-nav {
                margin: 8px auto 0;
                width: 150px;
              }
                #main .flex-control-nav li {
                  float: left;
                  width: 25px;
                }
                #main .flex-control-nav a {
                  background: #bbb;
                  border-radius: 20px;
                  cursor: pointer;
                  display: block;
                  height: 14px;
                  margin: 0 auto;
                  text-indent: -9999px;
                  width: 14px;
                }
                #main .flex-control-nav a:hover {
                  background: rgba(57,68,74,0.5);
                  box-shadow: 0 0 1px #fff inset;
                }
                #main .flex-control-nav .active {
                  background: rgb(57, 68, 74);
                }
                #main .flex-control-nav a.active:hover {
                  background: rgb(57, 68, 74);
                }
              #main .flex-direction-nav {
                left: 0;
                position: absolute;
                top: -190px;
                width: 100%;
                z-index: 1;
              }
                #main .flex-direction-nav li {
                  background: rgb(57, 68, 74);
                  border-radius: 0 2px 2px 0;
                  display: none;
                  float: left;
                  height: 35px;
                  width: 35px;
                }
                #main .flex-direction-nav li:last-child {
                  border-radius: 2px 0 0 2px;
                  float: right;
                }
                  #main .flex-direction-nav li a {
                    color: #bbb;
                    cursor: pointer;
                    display: block;
                    font-family: Comic Sans MS, serif;
                    font-size: 30px;
                    font-weight: bold;
                    height: 100%;
                    line-height: 30px;
                    text-align: center;
                    width: 100%;
                  }

          #main article .description {
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 0 4px 4px 0;
            -moz-box-shadow: 0 0 4px rgba(255,255,255,1) inset;
            -webkit-box-shadow: 0 0 4px rgba(255,255,255,1) inset;
            box-shadow: 0 0 4px rgba(255,255,255,1) inset;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
            height: 100%;
            position: relative;
            width: 40%;
          }
            #main .title {
              border-bottom: 1px solid rgba(0, 0, 0, 0.2);
              font-size: 18px;
              font-weight: bold;
              height: 34px;
              line-height: 40px;
              padding: 2% 4%;
            }
              #main form .title {
                border: none;
                padding: 2% 2% 0;
                margin: 0;
              }
            #main .info {
              padding: 4%;
            }
              #main .slide_info  {
                display: none;
              }
              #main .slide_info:first-child  {
                display: block;
              }
    				#main .tags {
    					background: url("http://static.tumblr.com/0vhitxf/x71lfrx6x/ico-tags.png") no-repeat scroll 4% 16px transparent;
              border-top: 1px solid rgba(0, 0, 0, 0.2);
    					bottom: 0;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
    					display: block;
    					float: left;
              height: 50px;
              line-height: 38px;
    					padding: 2% 4% 2% 13%;
    					position: absolute;
    					width: 100%;
    				}
    				  #main .tags ul {
    				    list-style: none;
    				    margin: 0;
    				    padding: 0;
    				  }
    				  #main .tags li {
    				    float: left;
                margin: 0 20px 0 0;
  				    }
/*  #past_work {
    display: none;
  }*/

footer {
	clear: both;
	float: left;
	margin: 0 auto 50px;
	text-align: center;
  width: 100%;
}
	footer .pagination {
		float: left;
		font-family: facitweb-1,facitweb-2,Helvetica,Arial,sans-serif;
		margin: 0 0 30px;
		width: 100%;
	}
	footer .pagination a {
	    background: rgba(255,255,255,0.2);
	    border: 1px solid rgba(0,0,0,0.2);
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			-moz-box-shadow: 0 1px 1px #fff inset;
			-webkit-box-shadow: 0 1px 1px #fff inset;
			box-shadow: 0 1px 1px #fff inset;
			font-weight: bold;
			height: 20px;
			line-height: 20px;
	    margin: 0 5px 20px;
	    padding: 5px 10px 3px;
	    text-shadow: 0 1px 0 #fff;		
	}
	footer .pagination a.current_page {
		color: #39444A;
		cursor: default;
	}
	footer .pagination a:hover {
	    -moz-box-shadow: 0 1px 2px #fff inset;
	    -webkit-box-shadow: 0 1px 2px #fff inset;
	    box-shadow: 0 1px 2px #fff inset;
		color: #39444A;
	}
	footer .pagination a.current_page:hover {
		color: #39444A;
		cursor: default;
	}

/* View.js Styles */
.viewer li{
	-webkit-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	-moz-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
.viewer .caption{
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 1.5s ease-in-out;
	-moz-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;
}
.viewer .current .caption{
	opacity: 100;
	visibility: visible;
}


@media all and (orientation:portrait) { 
}
@media all and (orientation:landscape) { 
}
@media screen and (max-device-width: 480px) {
	/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media screen and (max-width: 320px) {
  input,
  textarea {
    padding: 1% 3%;
  }
  #masthead {
    padding: 0;
  }
	#masthead h1 {
		font-size: 150% !important;
		text-align: center;
	}
  #main article .images {
    min-height: 300px;
  }
  #past_work,
  .past {
    display: none;
  }
}
@media screen and (max-width: 800px) { 
  #masthead {
    padding: 0;
  }
  p.intro {
    display: block;
    margin: 0 0 35px;
  }
  input,
  textarea {
    padding: 2% 3%;
  }
  #masthead h1 {
    font-size: 166% !important;
    margin-bottom: 5px;
    text-align: center;
  }
	#container {
		margin: 0 auto 20px;
		padding: 0;
		width: 90%;
	}
		#main {
			float: none;
			margin: 0 0 50px;
			width: 100%;
		}
    #main article {
      height: auto;
      max-height: none;
    }
      #main article .images,
      #main article .description {
        float: none;
        width: 100%;
      }
      #main article .images {
        border-radius: 4px 4px 0 0;
        min-height: 390px;
      }
        #main .flex-direction-nav {
          display: none;
        }
      #main article .description {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-top: none;
        border-radius: 0;
      }
      #main .tags {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0 0 4px 4px;
        border-top: none;
        box-sizing: border-box;
        height: auto;
        position: relative;
      }

		#sidebar {
			float: none;
			width: 100%;
		}
			#sidebar .wrapper {
				width: 100%;
			}
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}